*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:90%;
    height:500px ;
    outline: 1px solid #000;
    margin: 30px auto;
}

.element{
    background: crimson;
    width: 120px;
    height: 120px;
    color:#fff;
    position: relative;
    
    /* property / duratioon / timing-fuction / delay */
    transition-property: 
        background-color, color, transform;
    transition-duration: .5s, .4s, .3s;
    
    transition-timing-function: ;

}

.container:hover .element{
    background-color: #000;
    color: #fff;
    transform: scale(.5);
}